<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4070460195-vpbm4hmkdihj9gug0big3hh7n0iftv2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4070460195-vpbm4hmkdihj9gug0big3hh7n0iftv2t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4070460195-fmdv92u8e5evmasudl0t5vkmdrag7eqg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPxS5TILoRhrGJQoj89LywXjS1visWu5M</string>
	<key>GCM_SENDER_ID</key>
	<string>4070460195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ieeevit.Enigma</string>
	<key>PROJECT_ID</key>
	<string>enigma-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>enigma-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4070460195:ios:ead64389ae19802e6d1a96</string>
	<key>DATABASE_URL</key>
	<string>https://enigma-2019.firebaseio.com</string>
</dict>
</plist>