<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940006707956-3dv1tij4fptfj2c332au0m4rcvb3njoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940006707956-3dv1tij4fptfj2c332au0m4rcvb3njoq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>940006707956-5er3o0bmlfkvjj8gbelcj6mnocmgfpcu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKW7xtFfj_0CYn8z5m7quUNbVRVSFn8DE</string>
	<key>GCM_SENDER_ID</key>
	<string>940006707956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ieeevit.Enigma</string>
	<key>PROJECT_ID</key>
	<string>enigma-test-9c97a</string>
	<key>STORAGE_BUCKET</key>
	<string>enigma-test-9c97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940006707956:ios:7962bc66b68ae975de84a1</string>
	<key>DATABASE_URL</key>
	<string>https://enigma-test-9c97a.firebaseio.com</string>
</dict>
</plist>